<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="./verify" method="post">
    {% csrf_token %}
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <input type="text" name="username" placeholder="username">
    <input type="text" name="otp" placeholder="enter otp">
    <input type="submit" value="submit">
</form>
</body>
</html>